:root
{
    --black: hsl(0, 0%, 0%);

    --tileColor1: rgb(22, 57, 68);
    --tileHoverColor1: rgb(44, 100, 114);
    --tileBackgroundColor1: rgb(12, 39, 48);
    --pageForegroundColor1: rgb(22, 57, 68);
    --pageBackgroundColor1: rgb(12, 39, 48);
    --bannerColor1: rgb(2, 26, 34);
    --textColor1: rgb(255, 255, 255);
    --bannerTextColor1: rgb(255, 255, 255);
    
    /* Mint */
    --tileColor2: hsl(159, 51%, 38%);
    --tileHoverColor2: hsl(159, 51%, 38%);
    --tileBackgroundColor2: hsl(172, 71%, 16%);
    --pageForegroundColor2: hsl(172, 71%, 16%);
    --pageBackgroundColor2: hsl(172, 71%, 16%);
    --bannerColor2: hsl(159, 51%, 38%);
    --textColor2: hsl(0, 0%, 100%);
    --bannerTextColor2: hsl(0, 0%, 100%);
    
    /* Black and purple */
    --tileColor3: hsl(261, 49%, 22%);
    --tileHoverColor3: hsl(261, 41%, 31%);
    --tileBackgroundColor3: hsl(0, 0%, 0%);
    --pageForegroundColor3: hsl(0, 0%, 0%);
    --pageBackgroundColor3: hsl(0, 0%, 0%);
    --bannerColor3: hsl(261, 49%, 22%);
    --textColor3: hsl(0, 0%, 100%);
    --bannerTextColor3: hsl(0, 0%, 100%);
    
    --tileColor4: hsl(197, 51%, 38%);
    --tileHoverColor4: hsl(17, 32%, 51%);
    --tileBackgroundColor4: hsl(209, 71%, 16%);
    --pageForegroundColor4: hsl(209, 71%, 16%);
    --pageBackgroundColor4: hsl(209, 71%, 16%);
    --bannerColor4: hsl(17, 51%, 38%);
    --textColor4: hsl(0, 0%, 100%);
    --bannerTextColor4: hsl(0, 0%, 100%);

    --tileColor5: hsl(205, 60%, 20%);
    --tileHoverColor5: hsl(200, 50%, 32%);
    --tileBackgroundColor5: hsl(210, 91%, 9%);
    --pageForegroundColor5: hsl(205, 60%, 20%);
    --pageBackgroundColor5: hsl(210, 91%, 9%);
    --bannerColor5: hsl(0, 0%, 0%);
    --textColor5: hsl(0, 0%, 100%);
    --bannerTextColor5: hsl(0, 0%, 100%);

    /* Teal */
    --tileColor6: hsl(185, 75%, 22%);
    --tileHoverColor6: hsl(185, 75%, 29%);
    --tileBackgroundColor6: hsl(185, 90%, 15%);
    --pageForegroundColor6: hsl(185, 90%, 15%);
    --pageBackgroundColor6: hsl(185, 90%, 15%);
    --bannerColor6: hsl(185, 75%, 29%);
    --textColor6: hsl(0, 0%, 100%);
    --bannerTextColor6: hsl(0, 0%, 100%);

    /* Mint Black Text */
    --tileColor7: hsl(170, 88%, 28%);
    --tileHoverColor7: hsl(170, 88%, 28%);
    --tileBackgroundColor7: hsl(164, 62%, 66%);
    --pageForegroundColor7: hsl(170, 88%, 28%);
    --pageBackgroundColor7: hsl(164, 62%, 66%);
    --bannerColor7: hsl(164, 62%, 66%);
    --textColor7: hsl(0, 0%, 100%);
    --bannerTextColor7: hsl(0, 0%, 0%);

    /* Mint 2 */
    --tileColor8: hsl(170, 88%, 28%);
    --tileHoverColor8: hsl(170, 78%, 40%);
    --tileBackgroundColor8: hsl(170, 96%, 17%);
    --pageForegroundColor8: hsl(170, 96%, 17%);
    --pageBackgroundColor8: hsl(170, 96%, 17%);
    --bannerColor8: hsl(170, 88%, 28%);
    --textColor8: hsl(0, 0%, 100%);
    --bannerTextColor8: hsl(0, 0%, 100%);

    /* Teal Dark */
    --tileColor9: hsl(185, 93%, 17%);
    --tileHoverColor9: hsl(185, 87%, 25%);
    --tileBackgroundColor9: hsl(185, 100%, 9%);
    --pageForegroundColor9: hsl(185, 100%, 9%);
    --pageBackgroundColor9: hsl(185, 100%, 9%);
    --bannerColor9: hsl(185, 93%, 17%);
    --textColor9: hsl(0, 0%, 100%);
    --bannerTextColor9: hsl(0, 0%, 100%);
}
