#bottomBanner
{
    position: absolute;
    background-color: var(--bannerColor);
    width: 100%;
    top: 100%;
    left: 0;
}

.sectionText
{
    clear: both;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    color: var(--bannerTextColor);
}

.linkGroup, .linkGroupLink
{
    color: var(--bannerTextColor);
    font-weight: 700;
    font-size: 20px;
}

.linkGroup
{
    float: left;
    height: var(--linkGroupHeight);
    margin-right: var(--linkSpacing);
    margin-bottom: 50px;
}

.linkGroupLink
{
    display: inline-block;
}

.linkGroupLink:hover
{
    cursor: pointer;
}

.linkGroupText, .linkGroupImage
{
    float: left;
}

.linkGroupText
{
    text-align: center;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    border-bottom-color: var(--bannerTextColor);
    transition: border-bottom-width 0.1s;
}

.linkGroupImage
{
    width: auto;
    height: 40px;
    margin-right: 10px;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 0;
}

#emailSectionText
{
    margin-bottom: 15px;
}

.bannerIconColor
{
    filter: var(--bannerIconFilter);
}

.iconColor
{
    filter: var(--iconFilter);
}

.textLinkColor
{
    color: var(--textColor);
}

